src/main/mule/iewc-salesdoc_output-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="iewc-salesdoc_output-eapi-main" doc:id="627261b4-fa48-4470-8fcd-b49f86b03ae1">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="InitializationOfVaraibles" doc:id="9f835601-5b70-4343-8008-9dcc19c07ee4">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="correlationId"><![CDATA[if(!isEmpty(attributes.headers.correlationId)) attributes.headers.correlationId else correlationId]]></ee:set-variable>
                <ee:set-variable variableName="httpMethod"><![CDATA[attributes.method]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="iewc-salesdoc_output-eapi-config" />
        <error-handler ref="error-handler" />
    </flow>
    <flow name="iewc-salesdoc_output-eapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="iewc-salesdoc_output-eapi-config" />
        <error-handler ref="error-handler" />
    </flow>
    <flow name="post:\salesdoc_output:application\json:iewc-salesdoc_output-eapi-config">
        <flow-ref doc:name="callingSalesDocSubFlow" doc:id="3582648c-285e-4b75-841f-874e37057dda" name="ImplementationFlow" />
    </flow>
</mule>
